## Explore IPUMS data

In [2]:
# Read CSV into R
getwd()

[1] "/Users/mb/Documents/R Programming/IPUMS/code"

In [3]:
MyData <- read.csv(file="../input_data/usa_00002.csv", 
                   header=TRUE, 
                   sep=",")

In [13]:
tail(MyData, 10)

        YEAR DATANUM PERWT SEX AGE MARST RACE RACED HISPAN HISPAND ⋯ SPEAKENG
6346518 2017 1       43    1   18  6     1    100   0        0     ⋯ 3
6346519 2017 1       87    1   30  6     1    100   0        0     ⋯ 4
6346520 2017 1       38    1   18  6     1    100   4      422     ⋯ 3
6346521 2017 1       37    1   51  4     1    100   0        0     ⋯ 4
6346522 2017 1       43    1   19  6     1    100   0        0     ⋯ 3
6346523 2017 1       10    2   20  6     1    100   0        0     ⋯ 3
6346524 2017 1       36    1   18  6     1    100   4      498     ⋯ 3
6346525 2017 1       70    2   31  6     8    856   0        0     ⋯ 4
6346526 2017 1       46    1   60  4     1    100   0        0     ⋯ 3
6346527 2017 1        8    1   20  6     1    100   0        0     ⋯ 3
        EDUC EDUCD EMPSTAT EMPSTATD OCC  IND  INCTOT INCWAGE POVERTY
6346518 6    63    3       30       4250 7770  4000   4000    0
6346519 6    64    3       30          0    0     0      0    0
6346520 6    65    3       30       4120 8590 10000  10000    0
6346521 8    81    3       30       4250 7770 35300  35300    0
6346522 6    65    1       14       3850 9680 29800  29800    0
6346523 7    71    1       12       4230 7690  9000   9000    0
6346524 6    63    3       30       6050  180  4000      0    0
6346525 6    65    3       30       4030 8680  5000   5000    0
6346526 7    71    3       30       5400 8290  2400   2400   19
6346527 6    65    3       30          0    0     0      0    0

Lets see how many observations do we have.

In [6]:
 nrow(MyData)

[1] 6346527

In [7]:
## So that we can use the variables names
attach(MyData)

### Frequencies 
Exploring the frequencies of race, sex, marital status

In [11]:
mytable <- table (HISPAN,YEAR)
mytable

      YEAR
HISPAN    2016    2017
     0 2701475 2726451
     1  287407  289705
     2   43054   43583
     3   18594   19238
     4  105957  111063

In [8]:
mytable <- table(SEX,YEAR) # A will be rows, B will be columns 
mytable # print table

   YEAR
SEX    2016    2017
  1 1544141 1561186
  2 1612346 1628854

In [9]:
mytable <- table(RACE,YEAR) # A will be rows, B will be columns 
mytable # print table

    YEAR
RACE    2016    2017
   1 2412703 2438524
   2  323250  317308
   3   35633   36265
   4   42220   43729
   5    8138    8196
   6  118510  124826
   7  121302  121816
   8   83415   87384
   9   11316   11992

### Clean the data
- add labels to SEX, RACE, and EMPSTAT

### Visualize the data
- bar graphs
- pie chart